<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet-cuoc-10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,173}</string>
                <key>spriteSourceSize</key>
                <string>{340,173}</string>
                <key>textureRect</key>
                <string>{{3013,173},{340,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet-cuoc-1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,150}</string>
                <key>spriteSourceSize</key>
                <string>{278,150}</string>
                <key>textureRect</key>
                <string>{{2027,173},{278,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet-cuoc-5k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,160}</string>
                <key>spriteSourceSize</key>
                <string>{315,160}</string>
                <key>textureRect</key>
                <string>{{2305,173},{315,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1124,1091},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus-game-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,64}</string>
                <key>spriteSourceSize</key>
                <string>{480,64}</string>
                <key>textureRect</key>
                <string>{{2709,0},{480,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{1246,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-amthanh-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{1614,0},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-auto-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,81}</string>
                <key>spriteSourceSize</key>
                <string>{172,81}</string>
                <key>textureRect</key>
                <string>{{3705,0},{172,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{2653,0},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{0,173},{89,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bo-chon-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{1405,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bo-chon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{1564,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-choi-test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,109}</string>
                <key>textureRect</key>
                <string>{{663,173},{166,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-choi-that.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,109}</string>
                <key>spriteSourceSize</key>
                <string>{166,109}</string>
                <key>textureRect</key>
                <string>{{829,173},{166,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-chon-chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{1723,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-chon-le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{1882,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-chonle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{2041,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{1756,0},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{1898,0},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-nhac-nen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{2040,0},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-quay-lientuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,227}</string>
                <key>spriteSourceSize</key>
                <string>{230,227}</string>
                <key>textureRect</key>
                <string>{{3545,173},{230,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-quay-nhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,179}</string>
                <key>spriteSourceSize</key>
                <string>{192,179}</string>
                <key>textureRect</key>
                <string>{{3353,173},{192,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-vinh-danh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{2182,0},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c26abe73-4006-4cb3-9588-7ee04f34dd45.c0a8f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,99}</string>
                <key>spriteSourceSize</key>
                <string>{237,99}</string>
                <key>textureRect</key>
                <string>{{89,173},{237,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c40525ca-0d9e-4cee-8e25-c9e4e5d680be.0f2f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{2200,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c483a020-1de4-4139-8445-fd9bf6915dc0.1ca7c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,132}</string>
                <key>spriteSourceSize</key>
                <string>{433,132}</string>
                <key>textureRect</key>
                <string>{{1402,173},{433,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cbf17e0b-136e-42ad-ad57-00918a83720b.26218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1124,722}</string>
                <key>spriteSourceSize</key>
                <string>{1124,722}</string>
                <key>textureRect</key>
                <string>{{0,1091},{1124,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cdebfc89-a96d-4b71-bfff-56c526fd31dc.d5c30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{2324,0},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ce8f89c6-6c35-4cc0-8f94-ecf166504794.23a9d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1082,691}</string>
                <key>spriteSourceSize</key>
                <string>{1082,691}</string>
                <key>textureRect</key>
                <string>{{2987,400},{1082,691}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chon-dong-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,84}</string>
                <key>spriteSourceSize</key>
                <string>{451,84}</string>
                <key>textureRect</key>
                <string>{{2518,81},{451,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d1f8a930-1a9e-46c0-a882-f6590e7f41ab.81054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,127}</string>
                <key>spriteSourceSize</key>
                <string>{190,127}</string>
                <key>textureRect</key>
                <string>{{995,173},{190,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d29077ba-1627-4a72-9579-7b56a235340c.65417.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db57d2e9-c6f8-4ee4-b28d-0ce1812a2ee3.626c5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,92}</string>
                <key>spriteSourceSize</key>
                <string>{198,92}</string>
                <key>textureRect</key>
                <string>{{3665,81},{198,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dca5de24-396c-403b-91e0-5fb67bf481f2.c69c7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,92}</string>
                <key>spriteSourceSize</key>
                <string>{198,92}</string>
                <key>textureRect</key>
                <string>{{3863,81},{198,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>domsang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{790,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e4f04fca-18c4-405b-b2f3-a45a54830181.733fa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1234,266}</string>
                <key>spriteSourceSize</key>
                <string>{1234,266}</string>
                <key>textureRect</key>
                <string>{{0,400},{1234,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ec579efb-1f07-4d89-9b0c-b447514c0583.3b9db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,83}</string>
                <key>spriteSourceSize</key>
                <string>{159,83}</string>
                <key>textureRect</key>
                <string>{{2359,81},{159,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f2830150-ded9-46dd-98b8-b0524f193391.27c3f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,105}</string>
                <key>spriteSourceSize</key>
                <string>{237,105}</string>
                <key>textureRect</key>
                <string>{{326,173},{237,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f364c425-e313-4c61-bf8b-08c10b852e14.fed72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,31}</string>
                <key>spriteSourceSize</key>
                <string>{762,31}</string>
                <key>textureRect</key>
                <string>{{28,0},{762,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f3889d68-fddd-460e-96f3-8f2f01426ef6.b37e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,105}</string>
                <key>textureRect</key>
                <string>{{563,173},{100,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f62da87b-f69c-498b-a03f-44166b213baa.0c5ff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{2466,0},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f924fde7-c2cc-4441-a952-6f82546ac87c.913aa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,82}</string>
                <key>spriteSourceSize</key>
                <string>{768,82}</string>
                <key>textureRect</key>
                <string>{{0,81},{768,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huong-dan-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,82}</string>
                <key>spriteSourceSize</key>
                <string>{478,82}</string>
                <key>textureRect</key>
                <string>{{768,81},{478,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-mask-chu-o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,169}</string>
                <key>spriteSourceSize</key>
                <string>{131,169}</string>
                <key>textureRect</key>
                <string>{{2620,173},{131,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-mask-hinh-vuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,169}</string>
                <key>spriteSourceSize</key>
                <string>{131,169}</string>
                <key>textureRect</key>
                <string>{{2751,173},{131,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-mask-tamgiac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,169}</string>
                <key>spriteSourceSize</key>
                <string>{131,169}</string>
                <key>textureRect</key>
                <string>{{2882,173},{131,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{2458,1091},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kobiet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{2608,0},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lichsu-cuoc-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,84}</string>
                <key>spriteSourceSize</key>
                <string>{498,84}</string>
                <key>textureRect</key>
                <string>{{2969,81},{498,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line-cho-bang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{971,515}</string>
                <key>spriteSourceSize</key>
                <string>{971,515}</string>
                <key>textureRect</key>
                <string>{{2016,400},{971,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luot-quat-free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,134}</string>
                <key>spriteSourceSize</key>
                <string>{192,134}</string>
                <key>textureRect</key>
                <string>{{1835,173},{192,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{76,80}</string>
                <key>textureRect</key>
                <string>{{3629,0},{76,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>show-chon-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{782,385}</string>
                <key>spriteSourceSize</key>
                <string>{782,385}</string>
                <key>textureRect</key>
                <string>{{1234,400},{782,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>show-luot-choi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,87}</string>
                <key>spriteSourceSize</key>
                <string>{198,87}</string>
                <key>textureRect</key>
                <string>{{3467,81},{198,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>show-muc-cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,128}</string>
                <key>spriteSourceSize</key>
                <string>{217,128}</string>
                <key>textureRect</key>
                <string>{{1185,173},{217,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh-tieu-de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,35}</string>
                <key>spriteSourceSize</key>
                <string>{792,35}</string>
                <key>textureRect</key>
                <string>{{822,0},{792,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vinh-danh-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,72}</string>
                <key>spriteSourceSize</key>
                <string>{440,72}</string>
                <key>textureRect</key>
                <string>{{3189,0},{440,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>all.png</string>
            <key>size</key>
            <string>{4069,2115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7eed36f7639640b72c8cec6ad5049ed:0359ae5acecf20b97680e62f5bdb5424:928a4ce365e7133476de68860937c334$</string>
            <key>textureFileName</key>
            <string>all.png</string>
        </dict>
    </dict>
</plist>
