<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,67}</string>
                <key>spriteSourceSize</key>
                <string>{866,67}</string>
                <key>textureRect</key>
                <string>{{0,57},{866,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,360}</string>
                <key>spriteSourceSize</key>
                <string>{867,360}</string>
                <key>textureRect</key>
                <string>{{860,988},{867,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,396}</string>
                <key>spriteSourceSize</key>
                <string>{860,396}</string>
                <key>textureRect</key>
                <string>{{859,2074},{860,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{859,389}</string>
                <key>spriteSourceSize</key>
                <string>{859,389}</string>
                <key>textureRect</key>
                <string>{{0,2074},{859,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,362}</string>
                <key>spriteSourceSize</key>
                <string>{860,362}</string>
                <key>textureRect</key>
                <string>{{867,1348},{860,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,362}</string>
                <key>spriteSourceSize</key>
                <string>{860,362}</string>
                <key>textureRect</key>
                <string>{{0,1710},{860,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{861,189}</string>
                <key>spriteSourceSize</key>
                <string>{861,189}</string>
                <key>textureRect</key>
                <string>{{0,243},{861,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,271}</string>
                <key>spriteSourceSize</key>
                <string>{860,271}</string>
                <key>textureRect</key>
                <string>{{0,699},{860,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{859,191}</string>
                <key>spriteSourceSize</key>
                <string>{859,191}</string>
                <key>textureRect</key>
                <string>{{861,243},{859,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,296}</string>
                <key>spriteSourceSize</key>
                <string>{860,296}</string>
                <key>textureRect</key>
                <string>{{0,988},{860,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{861,364}</string>
                <key>spriteSourceSize</key>
                <string>{861,364}</string>
                <key>textureRect</key>
                <string>{{860,1710},{861,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,57}</string>
                <key>spriteSourceSize</key>
                <string>{866,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{866,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,450}</string>
                <key>spriteSourceSize</key>
                <string>{860,450}</string>
                <key>textureRect</key>
                <string>{{867,2470},{860,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,57}</string>
                <key>spriteSourceSize</key>
                <string>{867,57}</string>
                <key>textureRect</key>
                <string>{{866,0},{867,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,234}</string>
                <key>spriteSourceSize</key>
                <string>{867,234}</string>
                <key>textureRect</key>
                <string>{{0,434},{867,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,289}</string>
                <key>spriteSourceSize</key>
                <string>{866,289}</string>
                <key>textureRect</key>
                <string>{{860,699},{866,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{865,265}</string>
                <key>spriteSourceSize</key>
                <string>{865,265}</string>
                <key>textureRect</key>
                <string>{{867,434},{865,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,186}</string>
                <key>spriteSourceSize</key>
                <string>{866,186}</string>
                <key>textureRect</key>
                <string>{{866,57},{866,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,361}</string>
                <key>spriteSourceSize</key>
                <string>{867,361}</string>
                <key>textureRect</key>
                <string>{{0,1348},{867,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,446}</string>
                <key>spriteSourceSize</key>
                <string>{867,446}</string>
                <key>textureRect</key>
                <string>{{0,2470},{867,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{1733,2920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a4df6e7738e343c9563e3d257733d26:5b29b844ca7dac72f3c398fbbc706519:8e409cf7e5e456dfae43b455d3ab7ea8$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
