<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>btn-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,94}</string>
            </dict>
            <key>btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1},{100,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>btn-history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>btn-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>btn-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>btn-play-real.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1},{166,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,109}}</string>
                <key>sourceSize</key>
                <string>{166,109}</string>
            </dict>
            <key>btn-play-test.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1},{166,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,109}}</string>
                <key>sourceSize</key>
                <string>{166,109}</string>
            </dict>
            <key>btn-rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2146,1},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>btn-spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2290,1},{230,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,227}}</string>
                <key>sourceSize</key>
                <string>{230,227}</string>
            </dict>
            <key>btn-spin-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2522,1},{192,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,179}}</string>
                <key>sourceSize</key>
                <string>{192,179}</string>
            </dict>
            <key>btn-sw-all-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2716,1},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-sw-all-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2877,1},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-sw-bg-music-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{3038,1},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>btn-sw-bg-music-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3182,1},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>btn-sw-even-select-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{3038,40},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-sw-even-select-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3199,40},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-sw-odd-select-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,125},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-sw-odd-select-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,125},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-sw-sound-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,40},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>btn-sw-sound-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2146,40},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>btn-sw-unselect-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,125},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-sw-unselect-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,125},{159,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,83}}</string>
                <key>sourceSize</key>
                <string>{159,83}</string>
            </dict>
            <key>btn-tut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,125},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>empty-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3326,1},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>empty-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3360,1},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>empty-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2522,182},{782,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{782,385}}</string>
                <key>sourceSize</key>
                <string>{782,385}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,569},{1124,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1124,722}}</string>
                <key>sourceSize</key>
                <string>{1124,722}</string>
            </dict>
            <key>frame-1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,569},{278,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,150}}</string>
                <key>sourceSize</key>
                <string>{278,150}</string>
            </dict>
            <key>frame-10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2743,569},{340,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,173}}</string>
                <key>sourceSize</key>
                <string>{340,173}</string>
            </dict>
            <key>frame-5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{3085,569},{315,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,160}}</string>
                <key>sourceSize</key>
                <string>{315,160}</string>
            </dict>
            <key>frame-balance.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,731},{237,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,105}}</string>
                <key>sourceSize</key>
                <string>{237,105}</string>
            </dict>
            <key>frame-bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{3085,731},{217,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,128}}</string>
                <key>sourceSize</key>
                <string>{217,128}</string>
            </dict>
            <key>frame-factor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,861},{198,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,92}}</string>
                <key>sourceSize</key>
                <string>{198,92}</string>
            </dict>
            <key>frame-freespin-count.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,861},{192,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,134}}</string>
                <key>sourceSize</key>
                <string>{192,134}</string>
            </dict>
            <key>frame-gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,861},{768,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,82}}</string>
                <key>sourceSize</key>
                <string>{768,82}</string>
            </dict>
            <key>frame-jackport.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,861},{237,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,99}}</string>
                <key>sourceSize</key>
                <string>{237,99}</string>
            </dict>
            <key>frame-select-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2702,861},{190,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,127}}</string>
                <key>sourceSize</key>
                <string>{190,127}</string>
            </dict>
            <key>frame-total-bet-win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2894,861},{433,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,132}}</string>
                <key>sourceSize</key>
                <string>{433,132}</string>
            </dict>
            <key>frame-total-win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,995},{198,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,92}}</string>
                <key>sourceSize</key>
                <string>{198,92}</string>
            </dict>
            <key>frame-turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,995},{198,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,87}}</string>
                <key>sourceSize</key>
                <string>{198,87}</string>
            </dict>
            <key>history-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,995},{792,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,35}}</string>
                <key>sourceSize</key>
                <string>{792,35}</string>
            </dict>
            <key>information-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2463,1032},{881,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{881,511}}</string>
                <key>sourceSize</key>
                <string>{881,511}</string>
            </dict>
            <key>information-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1545},{836,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,467}}</string>
                <key>sourceSize</key>
                <string>{836,467}</string>
            </dict>
            <key>information-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1545},{884,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{884,515}}</string>
                <key>sourceSize</key>
                <string>{884,515}</string>
            </dict>
            <key>item-circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2125,125},{131,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,169}}</string>
                <key>sourceSize</key>
                <string>{131,169}</string>
            </dict>
            <key>item-square.png</key>
            <dict>
                <key>frame</key>
                <string>{{3306,125},{131,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,169}}</string>
                <key>sourceSize</key>
                <string>{131,169}</string>
            </dict>
            <key>item-triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,296},{131,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,169}}</string>
                <key>sourceSize</key>
                <string>{131,169}</string>
            </dict>
            <key>items.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,1545},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>line-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2571},{866,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,67}}</string>
                <key>sourceSize</key>
                <string>{866,67}</string>
            </dict>
            <key>line-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2571},{866,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,57}}</string>
                <key>sourceSize</key>
                <string>{866,57}</string>
            </dict>
            <key>line-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,2571},{867,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,57}}</string>
                <key>sourceSize</key>
                <string>{867,57}</string>
            </dict>
            <key>line-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2630},{867,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,234}}</string>
                <key>sourceSize</key>
                <string>{867,234}</string>
            </dict>
            <key>line-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2630},{866,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,289}}</string>
                <key>sourceSize</key>
                <string>{866,289}</string>
            </dict>
            <key>line-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2921},{865,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{865,265}}</string>
                <key>sourceSize</key>
                <string>{865,265}</string>
            </dict>
            <key>line-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2921},{866,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{866,186}}</string>
                <key>sourceSize</key>
                <string>{866,186}</string>
            </dict>
            <key>line-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2921},{867,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,361}}</string>
                <key>sourceSize</key>
                <string>{867,361}</string>
            </dict>
            <key>line-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3439,1},{867,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,446}}</string>
                <key>sourceSize</key>
                <string>{867,446}</string>
            </dict>
            <key>line-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,449},{867,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,360}}</string>
                <key>sourceSize</key>
                <string>{867,360}</string>
            </dict>
            <key>line-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3346,811},{860,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,396}}</string>
                <key>sourceSize</key>
                <string>{860,396}</string>
            </dict>
            <key>line-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3346,1209},{859,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,389}}</string>
                <key>sourceSize</key>
                <string>{859,389}</string>
            </dict>
            <key>line-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2751,1600},{860,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,362}}</string>
                <key>sourceSize</key>
                <string>{860,362}</string>
            </dict>
            <key>line-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2751,1964},{860,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,362}}</string>
                <key>sourceSize</key>
                <string>{860,362}</string>
            </dict>
            <key>line-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1209},{861,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,189}}</string>
                <key>sourceSize</key>
                <string>{861,189}</string>
            </dict>
            <key>line-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2751,2328},{860,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,271}}</string>
                <key>sourceSize</key>
                <string>{860,271}</string>
            </dict>
            <key>line-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2328},{859,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,191}}</string>
                <key>sourceSize</key>
                <string>{859,191}</string>
            </dict>
            <key>line-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2606,2601},{860,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,296}}</string>
                <key>sourceSize</key>
                <string>{860,296}</string>
            </dict>
            <key>line-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2606,2899},{861,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,364}}</string>
                <key>sourceSize</key>
                <string>{861,364}</string>
            </dict>
            <key>line-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3265},{860,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,450}}</string>
                <key>sourceSize</key>
                <string>{860,450}</string>
            </dict>
            <key>line-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2605,3265},{971,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{971,515}}</string>
                <key>sourceSize</key>
                <string>{971,515}</string>
            </dict>
            <key>machine.png</key>
            <dict>
                <key>frame</key>
                <string>{{4308,1},{1082,691}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1082,691}}</string>
                <key>sourceSize</key>
                <string>{1082,691}</string>
            </dict>
            <key>rank-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{4271,694},{762,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,31}}</string>
                <key>sourceSize</key>
                <string>{762,31}</string>
            </dict>
            <key>select-line-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{5035,694},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{5159,694},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2702,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2826,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4271,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4395,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{4519,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{4643,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>select-line-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{4767,771},{122,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,75}}</string>
                <key>sourceSize</key>
                <string>{122,75}</string>
            </dict>
            <key>shadow-gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{3407,1},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>sw-auto-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{4891,771},{172,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,81}}</string>
                <key>sourceSize</key>
                <string>{172,81}</string>
            </dict>
            <key>txt-bonus-game.png</key>
            <dict>
                <key>frame</key>
                <string>{{4208,854},{480,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,64}}</string>
                <key>sourceSize</key>
                <string>{480,64}</string>
            </dict>
            <key>txt-history.png</key>
            <dict>
                <key>frame</key>
                <string>{{4690,854},{498,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,84}}</string>
                <key>sourceSize</key>
                <string>{498,84}</string>
            </dict>
            <key>txt-rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{4208,940},{440,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,72}}</string>
                <key>sourceSize</key>
                <string>{440,72}</string>
            </dict>
            <key>txt-select-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{4650,940},{451,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,84}}</string>
                <key>sourceSize</key>
                <string>{451,84}</string>
            </dict>
            <key>txt-tut.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1026},{478,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,82}}</string>
                <key>sourceSize</key>
                <string>{478,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{5391,3781}</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
