<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>456-blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,252}</string>
                <key>spriteSourceSize</key>
                <string>{172,252}</string>
                <key>textureRect</key>
                <string>{{172,889},{172,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>456.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,165}</string>
                <key>spriteSourceSize</key>
                <string>{167,165}</string>
                <key>textureRect</key>
                <string>{{0,0},{167,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-mask-blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,191}</string>
                <key>spriteSourceSize</key>
                <string>{168,191}</string>
                <key>textureRect</key>
                <string>{{0,497},{168,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,167}</string>
                <key>spriteSourceSize</key>
                <string>{175,167}</string>
                <key>textureRect</key>
                <string>{{174,330},{175,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus-blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,191}</string>
                <key>spriteSourceSize</key>
                <string>{167,191}</string>
                <key>textureRect</key>
                <string>{{168,497},{167,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,165}</string>
                <key>spriteSourceSize</key>
                <string>{175,165}</string>
                <key>textureRect</key>
                <string>{{167,0},{175,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespin-blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,195}</string>
                <key>spriteSourceSize</key>
                <string>{168,195}</string>
                <key>textureRect</key>
                <string>{{0,691},{168,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,166}</string>
                <key>spriteSourceSize</key>
                <string>{174,166}</string>
                <key>textureRect</key>
                <string>{{0,330},{174,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,195}</string>
                <key>spriteSourceSize</key>
                <string>{169,195}</string>
                <key>textureRect</key>
                <string>{{168,691},{169,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,165}</string>
                <key>spriteSourceSize</key>
                <string>{174,165}</string>
                <key>textureRect</key>
                <string>{{0,165},{174,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot-blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{172,198}</string>
                <key>textureRect</key>
                <string>{{337,691},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,194}</string>
                <key>spriteSourceSize</key>
                <string>{176,194}</string>
                <key>textureRect</key>
                <string>{{335,497},{176,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>umbrella-blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,202}</string>
                <key>spriteSourceSize</key>
                <string>{172,202}</string>
                <key>textureRect</key>
                <string>{{0,889},{172,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>umbrella.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,165}</string>
                <key>spriteSourceSize</key>
                <string>{174,165}</string>
                <key>textureRect</key>
                <string>{{174,165},{174,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{511,1141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b9d4b7a801cfdabe2148a67c274664a:0aeb8c4a1c832ecd5c4c87935f2d1f03:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
