<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,249}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{223,890},{249,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,163}</string>
                <key>spriteSourceSize</key>
                <string>{238,163}</string>
                <key>textureRect</key>
                <string>{{0,308},{238,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,170}</string>
                <key>textureRect</key>
                <string>{{0,471},{218,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,163}</string>
                <key>spriteSourceSize</key>
                <string>{153,163}</string>
                <key>textureRect</key>
                <string>{{238,308},{153,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,216}</string>
                <key>spriteSourceSize</key>
                <string>{223,216}</string>
                <key>textureRect</key>
                <string>{{0,890},{223,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,211}</string>
                <key>spriteSourceSize</key>
                <string>{223,211}</string>
                <key>textureRect</key>
                <string>{{0,678},{223,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,212}</string>
                <key>textureRect</key>
                <string>{{223,678},{240,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,121}</string>
                <key>spriteSourceSize</key>
                <string>{221,121}</string>
                <key>textureRect</key>
                <string>{{0,0},{221,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,160}</string>
                <key>spriteSourceSize</key>
                <string>{217,160}</string>
                <key>textureRect</key>
                <string>{{225,148},{217,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,148}</string>
                <key>spriteSourceSize</key>
                <string>{201,148}</string>
                <key>textureRect</key>
                <string>{{221,0},{201,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,150}</string>
                <key>spriteSourceSize</key>
                <string>{225,150}</string>
                <key>textureRect</key>
                <string>{{0,148},{225,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,207}</string>
                <key>spriteSourceSize</key>
                <string>{182,207}</string>
                <key>textureRect</key>
                <string>{{218,471},{182,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{472,1139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fed1303188da48a4a3a25812aa772ba8:e0244e4a28e7b54baa921a33b08788a6:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
